body {
    font-family: 'Inter', sans-serif;
}
.brief-card {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.brief-title {
    color: #2c3e50;
    margin-bottom: 15px;
    font-weight: 500;
}
.brief-content {
    color: #34495e;
    line-height: 1.7;
}
.nav-link {
    color: #007bff;
}
.nav-link:hover {
    color: #0056b3;
}
/* Navbar Styles */
.navbar {
    background-color: #e21c34; /* Change this color to your desired navbar color */
}

.navbar-brand {
    color: #500b2b; /* Style the navbar brand (usually the site name) */
}

.navbar-brand:hover {
    color: #e50914; /* Change color on hover, for example */
}

.navbar-nav .nav-link {
    color: white; /* Style the navbar links */
}

.navbar-nav .nav-link:hover {
    color: #e50914; /* Change color on hover */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'%3e%3c/path%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: rgba(255,255,255,0.1);
}

.navbar-toggler:hover {
  border-color: rgba(255,255,255,0.5);
}
